// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "masthead.scss";
@import "showcase.scss";
@import "icons.scss";
@import "testimonials.scss";
@import "call-to-action.scss";
@import "footer.scss";

.bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
